.ant-layout-header.header {
    background: #020d18;
    /* width: 100%; */
}

.ant-menu-overflow.ant-menu.ant-menu-root.ant-menu-horizontal.ant-menu-dark {
    background: #020d18;
}
.home__bg {
    width: 100%;
    background-image: url(C:/Users/Admin/Documents/profile/src/img/bg4.jpg);
    background-color: #010101;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: #000; */
    /* background-image: url(https://pin.it/U8QyKu1); */
}
/* .text {
    margin-left: 80px;
} */

/* li.nav__items{
    font-size: 18px;
    padding-bottom: 15px;
    transition: 0.4s ease-in-out;
} */

.home__content{
    padding: 115px 0px;
    /* text-align: center; */

}

h1.home__text {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 3px;
    color: antiquewhite;
}

h2.home__text{
    font-size: 40px;
    line-height: 20px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3.home__text{
    font-size: 30px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 20px;
}
h4.home__text{
    font-size: 30px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 20px;
}
.logo {
    width: auto;
    height: auto;
  }

.ant-menu-overflow-item.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child {
    background-color: #47597E;
}

@media only screen and (max-width: 1024px){
    h2.home__text.pz__10{
        font-size: 32px;
    }
    h3.home__text.sweet.pz__10 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 646px){
    h1.home__text {
        font-size: 17px;
    }
    h2.home__text.pz__10 {
        font-size: 27px;
    }
    h3.home__text.sweet.pz__10 {
        font-size: 20px;
    }
    h4.home__text {
        font-size: 25px;
    }
}

@media only screen and (max-width: 467px){
    h1.home__text {
        font-size: 14px;
    }
    h2.home__text.pz__10 {
        font-size: 20px;
    }
    h3.home__text.sweet.pz__10 {
        font-size: 16px;
    }
    h4.home__text {
        font-size: 20px;
    }
}

@media only screen and (max-width: 532px){
    .ant-layout-content.container.home__content.home__bg{
    background-image: none!important;
    }
}

@media only screen and (max-width: 532px){
    .home__content{
        text-align: center;
    
    }
}