.portofolio {
    background: #191919;
}
h1.heading {
    font-size: 60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}
.ant-card-body{
    background: #041C32;
}

.ant-card-meta-title{
    color: #fff;
}
.ant-card-meta-description{
    color: #fff;
}

@media only screen and (max-width: 1024px){
    .p__color{
        font-size: 15px!important;
    }
}
/* p.heading.p__color {
    margin-bottom: 0;
    text-align: center;
    line-height: 1.2;
} */

/* .gallery__image{
    border-radius: 10px;
    width: 100%;
    background-color: #000;
    padding: 55px;
    transition: .4s ease;
} */


/* .icon {
    font-size: 54px;
    font-weight: 400;
    margin-bottom: 23px;
    display: inline-flex;
    color: crimson;
} */

/* p.service__text.p__color {
    margin-bottom: 0;
} */
