.portofolio {
    background: #191919;
}
h1.heading {
    font-size: 60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}
.ant-card-body{
    background: #041C32;
    /* height: 205px; */
}

.ant-card-meta-title{
    color: #fff;
}
.ant-card-meta-description{
    color: #fff;
}
.ant-card.ant-card-bordered.ant-card-hoverable {
    width: fit-content;
}

.size-img img {
    height: auto;
    width: 100%;
    max-width: 600px;
}
 /* @media only screen and (max-width: 1024px){
    .ant-col.ant-col-9.ant-col-offset-4{
        max-width: 200%;
    }
    .ant-col.ant-col-9{
        display: block!important;
        margin-left: auto!important;
        margin-right: auto!important;
        max-width: 200%;
        margin-top: 20px;
    }
    h1.heading {
        font-size: 40px;
    }
} */

@media only screen and (max-width: 1199px){
    .ant-card.ant-card-bordered.ant-card-hoverable {
        margin-top: 25px;
    }
} 

@media only screen and (max-width: 631px){
    h1.heading {
        font-size: 50px;
    }
} 

@media only screen and (max-width: 375px){
    .ant-card-meta-description {
        font-size: 12px!important;
    }
} 

