.about {
    background: #191919;
}

img.about__img{
    border-radius: 10px;
    width: 120%;
}

h1.about__heading{
    margin-bottom: 10px;
    font-weight: 100;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
}

.ant-btn.ant-btn-default {
    background-color: #3E497A;
    border-radius: 10px;
    border-color: #51557E;
    width: 175px;
    height: 55px;
}

.ant-btn.ant-btn-default a{
    color: #fff;
    font-size: 17px;
}

/* @media only screen and (max-width: 1024px){
    .p__color{
        font-size: 15px!important;
    }
    h1.about__heading{
        font-size: 50px;
    }
} */

@media only screen and (max-width: 576px){
    h1.about__heading{
        font-size: 37px!important;
    }
    .p__color{
        font-size: 15px!important;
    }
}

/* @media only screen and (max-width: 413px){
    .ant-col.ant-col-9.ant-col-offset-1{
        display: block!important;
        margin-left: auto!important;
        margin-right: auto!important;
    }
} */

/* 1374 */