.about {
    background: #191919;
}

img.about__img{
    border-radius: 10px;
    width: 110%;
}

h1.about__heading{
    margin-bottom: 10px;
    font-weight: 100;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
}

.ant-btn.ant-btn-default {
    background-color: #3E497A;
    border-radius: 10px;
    border-color: #51557E;
    width: 175px;
    height: 55px;
}

.ant-btn.ant-btn-default a{
    color: #fff;
    font-size: 17px;
}
/* @media only screen and (max-width: 1024px){
    .p__color{
        font-size: 15px!important;
    }
} */
/* Button.about.btn.pointer {
    text-transform: capitalize;
    width: 195px;
    height: 55px;
    font-size: 18px;
    transition: .4s ease;
}

.about__button {
    padding: 20px 0px;
} */