.box {
    border-radius: 10px;
    width: 100%;
    background-color: #191919;
    padding: 55px;
}

.box:hover{
    transform: translateY(5px);
    background-image: linear-gradient(
        90deg, #21325E, #3E497A);
}   

.padding-top {
    padding-top: 20px;
}


/* @media only screen and (max-width: 1440px){
    .box{
        padding: 20px;
    }
}

@media only screen and (max-width: 1205px){
    .ant-col.ant-col-6.ant-col-offset-2{
       max-width: 100%!important;
    }
    .ant-col.ant-col-6.ant-col-offset-1{
        max-width: 100%!important;
     
     }
     .ant-col.ant-col-6.ant-col-offset-1{
        max-width: 100%!important;
        
     }
     
} */

 @media only screen and (max-width: 1440px){
    .ant-col.ant-col-offset-2.ant-col-xs-15.ant-col-sm-17.ant-col-md-17.ant-col-lg-6.ant-col-xl-6{
        margin-top: 20px;
    }
}


